<div class="main-view">
  <div class="container">
    <form class="form" {{action 'addRun' on='submit'}}>
      <h1 class='form__title'>New Run</h1>
      {{masked-input mask='11:11:11' required=true pattern='[0-9]{2}:[0-9]{2}:[0-9]{2}' value=runTime class='form__input' placeholder='HH:MM:SS'}}
      {{input type='date' value=raceDate required=true placeholder='Race Date' class='form__input'}}
      {{input type='text' value=raceNotes placeholder='Race Notes' class='form__input'}}

      <div class="form__buttons">
        <button type="button" class='form__buttons--btn cancel' {{action 'cancel' on='click'}}>CANCEL</button>
        <button class="form__buttons--btn save">SAVE</button>
      </div>
    </form>
  </div>
</div>
{{outlet}}
